<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Making Layouts</title>
    <link rel="stylesheet" href="position.css" />
  </head>
  <body>
    <header>
      <nav>
        <img src="https://source.unsplash.com/100x100/daily?logo" alt="Logo image" />
        <a href="">Home</a><a href="">About</a><a href="">Contact</a>
      </nav>
    </header>
    <main>
      <h1>Positioning the html elements on the page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo
        assumenda, maiores fugiat ratione excepturi expedita, dolores commodi
        nobis, architecto dolore magni perferendis reiciendis! Veniam quaerat
        maxime voluptatum illum. Cumque!
      </p>
      <img src="https://source.unsplash.com/1024x768/weekly/" alt="random image from unsplash">
      <p>
        Soluta exercitationem earum nulla, atque libero rem! Expedita ipsum
        dolorum nulla, omnis repellendus quisquam animi et. Provident labore,
        numquam sint suscipit saepe voluptatum voluptas ea cupiditate, error id
        quod fuga.
      </p>
    </main>
    <footer>
        <small>Thank you for watching. Visit the channel <a href="https://youtube.come/@codealagreek">Code a la greek</a> for more videos</small>
    </footer>
  </body>
</html>
