h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
}

p{
    color: red;
    background-color:antiquewhite;
    text-align: left;
    opacity: 0.5;
}